name: Pipeline do site HTML

on:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Verificar se existe index.html
        run: test -f index.html
